# mainly to have migrations compatible with the oldest supported django version
django<3
django-cms<3.8

# test utils, so you can do a quick manage.py test without tox (that is, included as well)
coverage
django-coverage
factory_boy
mock
selenium
tox